data/*holders*.csv filter=lfs diff=lfs merge=lfs -text
data/all_token_holders*.csv filter=lfs diff=lfs merge=lfs -text
data/all_token_holders*.json filter=lfs diff=lfs merge=lfs -text
data/token_holders*.csv filter=lfs diff=lfs merge=lfs -text
data/token_holders*.json filter=lfs diff=lfs merge=lfs -text
